extends layout

block content
  a.btn.btn-primary.mb-3(href="/") back
  if data && data.length && keys && keys.length
    table.table.table-striped
      thead.thead-dark
        tr
          each key in keys
            th(scope='col') #{key}
      tbody
        each item in data
          tr
            each key in keys
              td #{item[key]}
  else
    h6.text-center.font-weight-bold No Data
